* {
  box-sizing: border-box; 
}

.container {
  margin-top: 5em;
}

th .btn.name {
  font-weight: bold;
}

[contenteditable='false'].btn.name,
[contenteditable='true'].btn.name {
  -khtml-user-drag: none;
  -webkit-user-drag: none;
}

th.selectable-column {
  width: 30px;
}

th.right {
  border-right: 2px solid #666;
  border-left: 0;
}

th.left {
  border-left: 2px solid #666;
  border-right: 0;
}

[contenteditable='true'] {
  cursor: text;
}

[draggable],
[draggable] [contenteditable='false']{
  cursor: move;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

[draggable] .dropdown-menu {
  cursor: default;
}

tr.over th.right,
tr.over th.left {
  background-color: #eee;
}

.header-item-bin.over .well {
  background-color: #ddd;
}

span.square-icon {
  width: 8px;
  height: 8px;
  background-color: #888;
  border: 0;
  display: inline-block;
}

.data.square-icon {
  background-color: red;
}

.blah.square-icon {
  background-color: blue;
}
