{{view NameViewClass name=content.name viewName='nameView'}}

<button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
  <span class="caret"></span>
  <span class="sr-only">Toggle Dropdown</span>
</button>

<ul class="dropdown-menu" role="menu">
  {{#each content.attributes}}
    <li><a href="#"><span {{bind-attr class=':square-icon type' title='type'}}></span> {{attribute}}</a></li>
  {{/each}}
  <li class="divider"></li>
  <li><a href="#" {{action 'editName'}}>Edit Name</a></li>
</ul>
